/* ./styles/global.css */
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    @apply bg-slate-100;
}

@layer utilities {
    .pause {
        animation-play-state: paused;
    }

    .hoverEffect {
        transform: scale(1.1);
    }

  @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translateY(50%);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  .fadeInUp {
      animation: fadeInUp 1s;
  }
  @keyframes scale {
      0% {
          opacity: 0;
          transform: scale(0.5);
      }

      100% {
          opacity: 1;
          transform: scale(1);
      }
  }
  .scale {
      animation: scale 1s;
  }

  @keyframes carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-350px * 4.5));
    }
  }

  @media (prefers-reduced-motion) {
    .fadeInUp,
    .scale {
        animation: none;
    }
  }
}